
body{
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  ackground: rgba(179,220,237,1);
  background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(150,150,230,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(41,184,229,1)), color-stop(100%, rgba(150,150,230,1)));
  background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(150,150,230,1) 100%);
  background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(150,150,230,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(150,150,230,1) 100%);
  background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(150,150,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#9696e6', GradientType=1 );
}
.main {
  height: 55vh;
  background: dodgerblue;
  box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
  width: 60%;
  margin: 0 auto;
}
.info {
  background: url("img/аа.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: #484747;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form {
  height: 55vh;
  padding-top: 55px;
  padding-left: 50px;
  border-top: 2px solid #245288;
  border-bottom: 2px solid #245288;
  border-right: 2px solid #245288;
}
input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #245288!important;
  width: 50%;
  padding-bottom: 2px;
  color: #fff!important;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #245288!important;
}

input::-moz-placeholder {
  color: #245288;
}

button {
  border: 2px solid #245288;
  border-bottom: 2px solid #245288;
  padding: 2px 15px;
  margin: 0 1px;
  border-radius: 2px;
  cursor: pointer;
  background-color: dodgerblue;
  color: #fff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid #245288;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}

.infoWeath {
  position: relative;
  color: #fff;
  flex-direction: column;
  display: flex;
}

.error {
  color: #245288;
  font-weight: bold;
}